@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {

    /* Colors: */
    --Primary-color: #102C57;
    --Secundary-color: #EADBC8;
    --BackGround-color: #F2F2F2;
    --Text-color: #333333;
    --BoxShadow-color: #00000033;
    --Header-text-color: #F8F0E5;
    --Hover-color: #3C5885;
    --hover: #DAC0A3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: var(--Header-text-color) !important;
}

.header {
    background-color: var(--Primary-color);
    height: 6.25rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0.625rem 0.5rem var(--BoxShadow-color);
}

.navbar-toggler {
    display: none;
}

.fixed-top {
    top: -1px !important;
}

.navbar__menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.25rem;
}

.navbar__menu-item a {
    text-decoration: none;
    color: var(--Header-text-color);
    display: block;
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 700;
    transition: color 0.3s;
}

.navbar__menu-item a:hover {
    color: var(--Hover-color);
}

.navbar-toggler {
    display: none;
    border: var(--Primary-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.8rem 1.8rem;
    width: 2.5rem;
    height: 2.5rem;
}

.offcanvas {
    width: 55% !important;
    height: 40% !important;
    background-color: var(--Primary-color) !important;
    border-radius: 0 0 0rem 0.625rem !important;
}

.offcanvas-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offcanvas-item a {
    display: block;
    padding: 1rem 1.5rem;
    color: var(--Header-text-color);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.offcanvas-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* ABOUT SECTION */

.about {
    margin-top: 12.5rem;
}

.about-movie--cover {
    margin-right: 1.25rem;
}

.about-movie--cover img {
    width: 400px;
    height: 600px;
    box-shadow: 0 0.625rem 0.5rem var(--BoxShadow-color);
    border-radius: 0.625rem;
    align-items: center;
}

.about-movie h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--Primary-color);
    margin: 0;
    margin-bottom: 0.625rem;
}



.about-movie h3 {
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 700;
    color: var(--Primary-color);
    margin: 0;
    margin-bottom: 0.625rem;
}

.about-movie p {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: 500;
    color: var(--Text-color);
    margin: 0;
    margin-bottom: 1.875rem;
}

/* SECTION CAROUSEL */
.carousel {
    background-color: var(--Secundary-color);
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    display: flex;
    gap: 0.9375rem;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

.--reviews {
    margin-top: 4.5625rem;
}

.section-title h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: var(--Primary-color);
    margin: 0;
}

.section-title a {
    text-decoration: none;
    color: var(--Header-text-color);
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 500;
    background-color: var(--Primary-color);
    padding: 0.625rem 1.25rem 0.5rem 1.25rem;
    border-radius: 1.875rem;
    transition: background-color 0.3s;
}

.section-title a:hover {
    background-color: var(--Hover-color);
}

.carousel-shadow img {
    position: absolute;
    width: 9rem;
    height: 90%;
    top: 0;
    right: 0;
    left: auto;
    pointer-events: none;
    z-index: 99;
}

.cast-card img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1.25rem;
    aspect-ratio: 1 / 1;
}

.cast-card h4 {
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 700;
    color: var(--Text-color);
    margin-bottom: 0.625rem;
}

.cast-card p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: var(--Text-color);
    margin: 0;
}


/* SECTION REVIWES */

.reviews-container {
    gap: 1.25rem;
    margin-top: 1rem !important;
    margin-bottom: 2.5rem;
}

.reviews__container--item {
    padding: 1.875rem;
    background-color: #DFD7BF;
    border-radius: 0.625rem;
    width: 38.125rem;
    font-size: 1.5rem;
    line-height: 1.6875rem;
}

.reviews__container--item p {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-bottom: 1.875rem;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.author p {
    margin: 0;
}

.author__name {
    font-weight: 500;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.6875rem;
}

.author span {
    font-weight: 700;
    color: var(--Primary-color);
}

.author__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* MIDIA SECTION */
.midia-shadow img {
    display: none;

}

/* videos */

.--midia h2 {
    font-weight: 500 !important;
    margin: 0 !important;
}


#videos .item {
    width: 26.125rem !important;
    display: inline-block;
    vertical-align: top;
}

.video-wrapper {
    position: relative;
    width: 100%;
    /* 16:9 Aspect Ratio */
    padding-top: 56.25%;
    /* (9 / 16) * 100% */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
}

/* posters */

.poster-item img {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
}

/* backdrops */


.backdrop-item img {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
}

/* SECTION RECOMENDATIONS */

.recomedations {
    background-color: var(--Primary-color);
}

.--white h2 {
    color: var(--Header-text-color) !important;
    margin-top: 1.875rem !important;
}

.owl-theme {
    overflow: visible;
    margin: 0 auto;
    position: relative;
}

.owl-theme::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100px;
    background: linear-gradient(to left, var(--Primary-color) 0%, transparent 100%);
    pointer-events: none;
    z-index: 1;
}

.movie-card {
    font-size: 1.5rem;
    line-height: 1.6875rem;
}

.movie-card img {
    border-radius: 0.625rem;
}

.movie-card h3 {
    font-weight: 700;
    margin: 0;
    margin-top: 0.625rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card p {
    font-weight: 400;
    margin: 0;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
}

/* FOOTER */

.footer {
    padding: 3rem 0rem;
    color: var(--Text-color);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer__lists-wrapper {
    display: flex;
    justify-content: space-between;
    width: 40%;

}

.footer__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list--links {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.footer__list--links li {
    font-size: 1.5rem;
    line-height: 1.6875rem;
}

.footer__list--links a {
    color: var(--Primary-color);
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.6875rem;
    transition: color 0.3s ease-in-out;
}

.footer__list--links a:hover {
    text-decoration: underline;
    color: var(--Hover-color);
}


@media (max-width: 991px) {

    .navbar-toggler {
        display: block;
    }

    .navbar__menu {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar__menu {
        display: none !important;
    }

    .about {
        margin-top: 9.375rem;
    }

    .about-movie--title {
        margin-top: 3.125rem;
    }

    .about-movie h1 {
        margin-bottom: 1.875rem
    }

    .midia-shadow img {
        display: block;
        position: absolute;
        width: 5rem;
        height: 100%;
        top: 0;
        right: -1px;
        left: auto;
        pointer-events: none;
        z-index: 99;
    }

    .owl-theme::after {
        display: block;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .footer__content--logo {
        margin-bottom: 1.5rem;
    }

    .footer__lists-wrapper {
        flex-direction: row;
        width: 80%;
    }
}


@media (max-width: 480px) {
    .header {
        height: 3.75rem;
    }

    .navbar__logo img {
        height: 2.5rem;
    }

    .about {
        margin-top: 5.625rem;
    }

    .about-movie--cover {
        margin-right: 0;
    }

    .about-movie--cover img {
        width: 21.625rem;
        height: 32.4375rem;
    }

    .about-movie--title {
        margin-top: 1.875rem;
    }

    .about-movie h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .reviews__container--item {
        padding: 1.25rem;
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }

    .author__name {
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }

    .--midia h2 {
        font-size: 1.5rem;
        line-height: 1.6875rem;
    }

    .--midia a {
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }

    #videos .item {
        width: 275px !important;
        display: inline-block;
        vertical-align: top;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.875rem;
    }

    .footer__lists-wrapper {
        width: 100%;
        gap: 1.875rem;
    }

    .footer__list--links a {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .footer__list--links {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }

    .footer__lists-wrapper {
        flex-direction: column;
    }
}