@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {

    /* Colors: */
    --Primary-color: #102C57;
    --Secundary-color: #EADBC8;
    --BackGround-color: #F2F2F2;
    --Text-color: #333333;
    --BoxShadow-color: #00000033;
    --Header-text-color: #F8F0E5;
    --Hover-color: #3C5885;
    --hover: #DAC0A3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: var(--Header-text-color) !important;
}

.header {
    background-color: var(--Primary-color);
    height: 6.25rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0.625rem 0.5rem var(--BoxShadow-color);
}

.fixed-top {
    top: -1px !important;
}

.navbar__menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.25rem;
}

.navbar__menu-item a {
    text-decoration: none;
    color: var(--Header-text-color);
    display: block;
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 700;
    transition: color 0.3s;
}

.navbar__menu-item a:hover {
    color: var(--Hover-color);
}

/* ABOUT SECTION */

.about {
    margin-top: 12.5rem;
}

.about-movie--cover {
    margin-right: 1.25rem;
}

.about-movie--cover img {
    width: 400px;
    height: 600px;
    box-shadow: 0 0.625rem 0.5rem var(--BoxShadow-color);
    border-radius: 0.625rem;
    align-items: center;
}

.about-movie h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--Primary-color);
    margin: 0;
    margin-bottom: 0.625rem;
}



.about-movie h3 {
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 700;
    color: var(--Primary-color);
    margin: 0;
    margin-bottom: 0.625rem;
}

.about-movie p {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: 500;
    color: var(--Text-color);
    margin: 0;
    margin-bottom: 1.875rem;
}

/* SECTION CAROUSEL */
.carousel {
    background-color: var(--Secundary-color);
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    display: flex;
    gap: 0.9375rem;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

.--reviews {
    margin-top: 4.5625rem;
}

.section-title h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: var(--Primary-color);
    margin: 0;
}

.section-title a {
    text-decoration: none;
    color: var(--Header-text-color);
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 500;
    background-color: var(--Primary-color);
    padding: 0.625rem 1.25rem 0.5rem 1.25rem;
    border-radius: 1.25rem;
    transition: background-color 0.3s;
}

.section-title a:hover {
    background-color: var(--Hover-color);
}
.carousel-shadow img {
    position: absolute;
    width: 9rem;
    height: 90%;
    top: 0;
    right: 0;
    left: auto;
    pointer-events: none;
    z-index: 99;
}

.cast-card img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1.25rem;
    aspect-ratio: 1 / 1;
}

.cast-card h4 {
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 700;
    color: var(--Text-color);
    margin-bottom: 0.625rem;
}

.cast-card p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: var(--Text-color);
    margin: 0;
}


/* SECTION REVIWES */

.reviews__container {
    gap: 1.25rem;
    margin-top: 1rem !important;
}

.reviews__container--item {
    padding: 1.875rem;
    background-color: #DFD7BF;
    border-radius: 0.625rem;
    width: 38.125rem;
}

.reviews__container--item p {
    font-size: 1.5rem;
    line-height: 1.6875rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}


@media (max-width: 991px) {
    .about-movie--title {
        margin-top: 3.125rem;
    }

    .about-movie h1 {
        margin-bottom: 1.875rem
    }
}


@media (max-width: 480px) {
    .header {
        height: 3.75rem;
    }

    .navbar__logo img {
        height: 2.5rem;
    }

    .about-movie--cover {
        margin-right: 0;
    }

    .about-movie--cover img {
        width: 21.625rem;
        height: 32.4375rem;
    }

    .about-movie h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}